<div class="container container--no-bg">
  <div class="card-list card-list--crop">
    <% @highlights.first(6).last(3).each do |car| %>
      <%= render partial: 'cars/highlight', locals: {car: car} %>
    <% end %>
  </div>
</div>