<h1>Autos</h1>
<div class="car-list">
  <% @cars.each do |car| %>
    <div class="car-list__item">
      Id: <%= car.id %>
      Marca: <%= car.brand %>
      Modelo: <%= car.model %>
      Precio: <%= car.price %>
    </div>
  <% end %>
</div>
